{{ 'section-shipping-features.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="shipping-features color-{{ section.settings.color_scheme }} gradient">
  <div class="page-width section-{{ section.id }}-padding isolate">
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin shipping-features__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endunless -%}

    <slider-component class="slider-mobile-gutter">
      <ul
        class="shipping-features-list grid grid--1-col-tablet-down grid--4-col-desktop slider slider--tablet"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- for block in section.blocks -%}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="shipping-features-list__item grid__item slider__slide"
            {{ block.shopify_attributes }}
          >
            <div class="shipping-features-card">
              <div class="shipping-features-card__icon">
                {%- render 'icon-accordion', icon: block.settings.icon -%}
              </div>
              <div class="shipping-features-card__info">
                {%- if block.settings.title != blank -%}
                  <h3 class="shipping-features-card__title inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="shipping-features-card__text rte">{{ block.settings.text }}</div>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      <div class="slider-buttons large-up-hide">
        <button
          type="button"
          class="slider-button slider-button--prev"
          name="previous"
          aria-label="{{ 'general.slider.previous_slide' | t }}"
        >
          <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
        </button>
        <div class="slider-counter caption">
          <span class="slider-counter--current">1</span>
          <span aria-hidden="true"> / </span>
          <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
          <span class="slider-counter--total">{{ section.blocks.size }}</span>
        </div>
        <button
          type="button"
          class="slider-button slider-button--next"
          name="next"
          aria-label="{{ 'general.slider.next_slide' | t }}"
        >
          <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
        </button>
      </div>
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Shipping Features",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "options": [
            { "value": "none", "label": "None" },
            { "value": "truck", "label": "Truck" },
            { "value": "return", "label": "Return" },
            { "value": "heart", "label": "Heart" },
            { "value": "chat_bubble", "label": "Chat bubble" },
            { "value": "check_mark", "label": "Check mark" },
            { "value": "price_tag", "label": "Price tag" },
            { "value": "lock", "label": "Lock" },
            { "value": "star", "label": "Star" },
            { "value": "stopwatch", "label": "Stopwatch" },
            { "value": "lightning_bolt", "label": "Lightning bolt" },
            { "value": "gift", "label": "Gift" },
            { "value": "shirt", "label": "Shirt" }
          ],
          "default": "truck",
          "label": "Icon"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Feature title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Explain the feature to your customers.</p>",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shipping Features",
      "blocks": [
        { "type": "feature", "settings": { "icon": "truck", "title": "Frete Grátis" } },
        { "type": "feature", "settings": { "icon": "return", "title": "Devolução Grátis" } },
        { "type": "feature", "settings": { "icon": "lock", "title": "Compra Segura" } },
        { "type": "feature", "settings": { "icon": "chat_bubble", "title": "Suporte 24/7" } }
      ]
    }
  ]
}
{% endschema %}
